name: 'test'

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose-v2

      - name: Check docker-compose setup
        run: |
          touch geoip.env github_token.env imbridge.env
          docker compose config
          docker compose -f docker-compose.dev.yml config
