name: 'test'

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Check docker-compose setup
        run: |
          touch geoip.env github_token.env imbridge.env
          docker-compose config
